*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background: blue;
}
h1{
    text-align: center;
}
form{
    background: #ffffff;
}
.list_paragraf{
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: start;
    justify-content: space-around;
    border: 1px solid blue;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px blue
}
.remove{
    background: blue;
    border: none;
}
.list_paragraf:hover{
    cursor: pointer;
    transition: 1s;
}
.flex{
    display: flex;
}
.form-control{
    width: 100%;
    height: 6
    0px;
}
/*           responsive     */
@media (max-width: 575px) {
    .form-control{
        font-size: 10px;
    }
    .list_iteam {
        font-size: 7px;
        padding: 0;
        margin: -3px;
    }
    .btn{
        font-size: 5px;
    }
    .list_paragraf {
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 0px;
        display: flex;
        align-items: start;
        justify-content: space-around;
        border: 1px solid blue;
        margin: 0px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px blue;
    }
}